.logo > span {
  color: rgb(60, 196, 250);
  animation: colorChange 1s infinite ease-in-out alternate;
}

.logo > span:nth-child(1) {
  animation-delay: 0.2s;
}

.logo > span:nth-child(2) {
  animation-delay: 0.4s;
}

.logo > span:nth-child(3) {
  animation-delay: 0.6s;
}

.logo > span:nth-child(4) {
  animation-delay: 0.8s;
}

@keyframes colorChange {
  to {
    color: rgb(62, 69, 255);
  }
}
