.upload-list {
  background: #f6f7fb;
  border-radius: 10px;
  padding: 0px 10px 10px 0px;
  max-height: 200px;
  overflow: auto;
  .file-item {
    position: relative;
    display: inline-block;
    flex-direction: column;
    background-color: white;
    width: 180px;
    height: 50px;
    border: 1px solid #f6f7fb;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 0px 0px 10px;
    .file-icon {
      color: #526cfd;
    }
    .file-name {
      color: #181818;
      display: inline-block;
      max-width: 160px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .file-size {
      color: #7a7a7a;
      font-size: 12px;
      margin-left: 5px;
    }
    .progress {
      width: 160px;
      margin-left: 0px;
    }
    .delete {
      position: absolute;
      color: red;
      top: -8px;
      right: -6px;
      cursor: pointer;
      z-index: 50;
    }
  }
}
